<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<table th:border="1">
    <tr>
        <th>id</th>
        <th>lastname</th>
        <th>firstname</th>
        <th>fathername</th>
        <th>birthday</th>
        <th>id_position</th>
        <th>id_rank</th>
        <th>id_division</th>
        <th>contract-conclusion</th>
        <th>contract-term</th>
    </tr>
    <tr th:each="el : ${employee}">
        <td th:utext="${el.id}">...</td>
        <td th:utext="${el.lastname}">...</td>
        <td th:utext="${el.firstname}">...</td>
        <td th:utext="${el.fathername}">...</td>
        <td th:utext="${el.birthday}">...</td>
        <td th:utext="${el.id_position}">...</td>
        <td th:utext="${el.id_rank}">...</td>
        <td th:utext="${el.id_division}">...</td>
        <td th:utext="${el.contract_conclusion}">...</td>
        <td th:utext="${el.contract_term}">...</td>
    </tr>
</table>

</body>
</html>